.ecard-container input[type="text"],
.ecard-container input[type="email"],
.ecard-container input[type="submit"],
.ecard-container textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	margin-bottom: 4px;
}
.ecard-container input[type="text"],
.ecard-container input[type="email"],
.ecard-container textarea {
    border: 1px solid rgba(169, 169, 169, 0.75);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.ecard-container input[type="checkbox"] {
    margin: 0;
}
.ecard-container {
    position: relative;
}
.ecards-separator {
    clear: both;
    margin: 32px 0 0 0;
}
.ecard-inner-container .ecard {
    display: inline-block;
    padding: 8px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
            border-radius: 3px;
}
.ecard {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.ecard-container label {
    display: inline-block;
}
.ecard-container #captcha {
	vertical-align: middle;
}

.ecard-masonry .ecard {
    width: 32%;
}
.ecard-masonry .ecard img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.ecard-masonry .ecard a {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.ecard-carousel .ecard {
    width: auto;
}
.ecard-carousel .ecard img {
    max-width: inherit !important;
    width: auto;
    height: 300px !important;
}


#ecard_from,
#ecard_email_from,
#ecard_to,
#ecard_message {
    width: 50%;
}

@media screen and (max-width: 720px) {
    #ecard_from,
    #ecard_email_from,
    #ecard_to,
    #ecard_message {
        width: 100%;
    }
}

#ecard_send {
    padding: 8px 16px;
}



.slick-slide {
    text-align: center;
    width: 100%;
    outline: 0 none;
}
.slick-slide img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.dotsContainer {
    overflow: hidden;
    text-align: center;
}
.dotsContainer .slick-dots {
    overflow: hidden;
    display: inline-block;
    list-style: none;
    margin: 0;
}
.dotsContainer .slick-dots li {
    float: left;
    list-style: none;
    margin: 4px;
    margin-top: 0;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    background-color: rgba(128, 128, 128, 0.5);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    line-height: 1;
}
.dotsContainer .slick-dots li:first-child {
    margin-top: 0;
}
.dotsContainer .slick-dots li.slick-active {
    background-color: rgba(128, 128, 128, 0.5);
}



#calBorder table {
    margin: 0;
}
#calBorder table td {
    padding: 4px;
}
